!!!
%html
  %head
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/css/grid.css" }
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/css/jquery.dataTables.css" }
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/css/style.css" }
    %title Dashboard for Automated Testing - Ubuntu
    %script{ :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" }
    %script{ :src => "/js/jquery.dataTables.min.js" }
  :javascript
    $(document).ready(function() {
      $(".data-table").dataTable({
        "bPaginate": false
      });
    });

  %body
    .container_15
      .grid_15
        %h1 Test Results Dashboard
        %ul.top_nav
          %li 
            %a{ :href => "/" }
              Smoke
          %li 
            %a 
              Regression
          %li 
            %a 
              LTS
          %li 
            %a 
              Upgrade
          %li 
            %a 
              Bootspeed
          %li 
            %a 
              SRU
    .container_15
      = yield
