!!!
%html
  %head
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/css/grid.css" }
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/css/jquery.dataTables.css" }
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/css/style.css" }
    %title Dashboard for Automated Testing - Ubuntu
    %script{ :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" }
    %script{ :src => "/js/jquery.dataTables.min.js" }
  %body
    .container_15.spacer.clearfix
      .grid_15.spacer
        &nbsp;
    #header.container_15.clearfix
      .grid_15
        #top_nav.clearfix
          %ul
            %li 
              %a{ :href => "/" }
                Smoke
            %li 
              %a 
                LTS
            %li 
              %a 
                Upgrade
            %li 
              %a 
                Bootspeed
            %li 
              %a 
                SRU
            %li &nbsp;
        %a#logo{ :href => "/" }
          %img{ :src => "/images/header_logo.png", :alt => "Ubuntu QA" } 
    #content.container_15.clearfix
      = yield


