!!!
%html
  %head
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/css/grid.css" }
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/css/jquery.dataTables.css" }
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/css/style.css" }
    %title Dashboard for Automated Testing - Ubuntu
    %script{ :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" }
    %script{ :src => "/js/jquery.dataTables.min.js" }
  %body
    .container_15.spacer.clearfix
      .grid_15.spacer
        &nbsp;
    #header.container_15.clearfix
      .grid_15
        #top_nav.clearfix
          %ul
            %li 
              %a{ :href => "/" }
                Smoke
            %li
              %a
                %em 
                  LTS
            %li
              %a
                %em
                  Upgrade
            %li
              %a
                %em
                  Bootspeed
            %li
              %a
                %em
                  SRU
            %li
              %a{ :href => "/api/help" }
                API Doc
            %li &nbsp;
        %a#logo{ :href => "/" }
          %img{ :src => "/images/header_logo.png", :alt => "QA Dashboard" } 
    #content.container_15.clearfix
      %h1 WARNING: This site is not official, use at your own risk

      = yield



    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32284832-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

