!!!
%html
  %head
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/css/style.css" }
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/css/grid.css" }
    %title Dashboard for Automated Testing - Ubuntu

  %body
    .container_15
      .grid_15
        %h1 Test Results Dashboard
        
        %table{ :border => 0 }
          %tr
            %td <b> Smoke </b>
            %td Regression
            %td LTS
            %td SRU
            %td Upgrade

    .container_15
      = yield
