$blue: #3bbfce;
$result_red: #ffabab;
$result_yellow: #ffffa0;
$result_green: #abffab;
$ubuntu_orange: #dd4814;
$ubuntu_footer: #f7f6f5;
$ubuntu_footer_font: #999;
$link_color: $ubuntu_orange;
$hover_yellow: $result_yellow;

body {
  background: url('/images/bg_dot.png');
  margin: 0;
  font-family: 'Ubuntu','Bitstream Vera Sans','DejaVu Sans',Tahoma,sans-serif;
  font-size: 90%;
}

#content {
  background: white;
  border: 1px solid #ddd;
  border-bottom: none;
  padding-bottom: 25px;
} 

.red {
  background-color: $result_red;  
}

.yellow {
  background-color: $result_yellow;
}

.green {
  background-color: $result_green;
}

.num {
  text-align:right;
}

#header {
  height: 64px;
  background: $ubuntu_orange url('/images/light_stripes.png') repeat-x;
  font-size: 14px;
  line-height: 16px;
  -moz-border-radius:  5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-box-shadow: 0 0 5px #555;
  -webkit-box-shadow: 0 0 5px #555;

  position: relative;
  #logo {
    position: absolute;
    right: 0px;
    top: 15px;
  }

}

#top_nav {

  ul {
    list-style-type: none;
    padding: 0 0 0 16px;
    margin: 0;
  }
 
  li {
    float: left;
    font-size: 16px;
    line-height: 16px;
    background: url('/images/nav_divider.png') no-repeat;
    padding: 0 0 0 2px;
    height: 64px;
    list-style: none outside none;
}

  a {
    color: white;
    padding: 24px 8px;
    display: block;
    text-shadow: 0 1px black;
  }
}


a {
  color: $link_color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.left_nav {
  padding-left: 0px;
  li {
    list-style: none outside none;
    padding-left: 5px;
    padding-bottom: 3px;
    &:hover {
      background-color: lighten(#bbb, 20%);
    } 
  }

  

}


h3.nav-title {
  color: #aaa;
  font-size: 80%;
  font-weight: bold;
  margin-top: 12px;
  margin-left: 5px;
}

#footer {
  font-size: 70%;
  color: $ubuntu_footer_font;
  text-align: left;
  background: none repeat scroll 0 0 $ubuntu_footer;
  margin: 0 auto;
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
  border: 1px solid #ddd;
  border-top: none;
  padding-top: 10px;
  padding-bottom: 10px;

}


table {
  border-spacing: 0;
  td {
    border-bottom: 1px #ddd solid;
  }
}

.fullwidth {
  width: 100%;
  clear: both;
}
.dataTables_filter {
  font-size: 90%;
}

.dataTables_info {
  font-size: 75%;
  margin-top: 10px;
}

#breadcrumb {
  margin-top: 10px;
  margin-left: 5px;
  .crumb {
    font-size: 80%;
  }
  .crumb-sep {
    color: #999;
    font-size: 60%;
  }
}
